#cpMaindiv {float: none; text-align: left; margin: 0 4%}
#cpContainer {float: none; width: 1176px; display: block; clear: both; padding-top: 120px; border: 1px #889 solid; border-top: 0; height: 440px}
#cplogoimg {clear: none; left: 65px; position: absolute; top: 10px; z-index: 2}
#cptopglobalnav {clear: none; position: absolute; top: 45px; width: 1176px; z-index: 1}
#cpMiddle {float: none; width: 1176px; display: table; clear: both; background-color: #FFFFFF; margin-top: -120px}
#cpMiddletop {float: none; width: 300px; height: 450px}
#cpheader {padding-top: 50px; padding-left: 10px}
#cploginform {margin-left: 1em; margin-right: 3em}
#cpfieldset {padding-left: 30px; padding-top: 20px; width: 1050px; height: 280px; margin-top: 30px; font-size: 13px; border: 1px #889 solid}
#cpoldpassword {padding-top: 30px; font-size: 13px}
#cpoldpasswordtext {padding-top: 30px; padding-left: 10px}
#cpnewpassword {padding-top: 3px; font-size: 13px}
#cpnewpasswordtext {padding-top: 3px; padding-left: 10px}
#cpwarning {padding-bottom: 5px; padding-right: 15px; padding-top: 5px; padding-left: 10px; border: 1px #889 solid}
#cpretyprpassword {padding-top: 3px; font-size: 13px}
#cpretyprepasswordtext {padding-top: 3px; padding-left: 10px}
#cppasswordpolicy {padding-top: 10px; padding-bottom: 20px; padding-right: 10px; padding-left: 10px; border: 1px #889 solid}
#cppasswordpolicyli {font-size: 13px}
#cpbottomcancel {padding-left: 218px}
#cpbuttongroup {padding-top: 10px; padding-left: 10px}
