<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="contextSource" class="org.springframework.ldap.pool.factory.PoolingContextSource">
		<property name="contextSource" ref="contextSourceTarget" />
		<property name="dirContextValidator" ref="dirContextValidator" />
		<property name="testOnBorrow" value="true" />
		<property name="testWhileIdle" value="true" />
		<property name="maxActive" value="1" />
		<property name="maxTotal" value="1"/>
	</bean>
	
	<bean id="dirContextValidator"
		class="org.springframework.ldap.pool.validation.DefaultDirContextValidator" />

	<bean id="contextSourceTarget" class="org.springframework.ldap.core.support.LdapContextSource">
		<property name="urls" >
			<list>
				<value>${ldap.url1}</value>
				<value>${ldap.url2}</value>
			</list>
		</property>	
		<property name="userDn" value="${ldap.userdn}" />
		<property name="password" value="${ldap.pwd}" />
		<property name="pooled" value="true" />
		<property name="referral" value="follow" />
	</bean>

	<bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<constructor-arg ref="contextSource" />
		<property name="ignorePartialResultException" value="true"/>
	</bean>
	
	<bean id="singleLdapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<constructor-arg ref="contextSourceTarget" />
		<property name="ignorePartialResultException" value="true"/>
	</bean>

	<bean id="userDao" class="com.plm.oam.dao.UserDaoImpl">
		<!-- <property name="ldapTemplate" ref="ldapTemplate" />-->
		<property name="ldapTemplate" ref="singleLdapTemplate" />
		<property name="baseDN" value="${ldap.base}" />
	</bean>
	
	<bean id="groupDao" class="com.plm.oam.dao.GroupDaoImpl">
		<!-- <property name="ldapTemplate" ref="ldapTemplate" />-->
		<property name="ldapTemplate" ref="singleLdapTemplate" />
		<property name="baseDN" value="${ldap.base}" />
	</bean>

	<bean id="com.plm.oam.apps.ReportConfig" class="com.plm.oam.apps.ReportConfig"
		scope="singleton">
		<property name="inActiveDaysVal" value="45" />
		<!-- <property name="reportFilename" value="{AGENCY}_{DATE}.csv" />-->
		<property name="reportFilename" value="{AGENCY}.csv" />
		<property name="fileOutputPath" value="REPORT_TMP" />
		<property name="reportTitle" value="Inactive User Report generated by '{USERID}' - Date: {DATE}" />
		<property name="reportHeaders">
			<map>
				<entry key="loginId" value="LoginID" />
				<entry key="fullname" value="FullName" />
				<entry key="firstName" value="FirstName" />
				<entry key="lastName" value="LastName" />
				<entry key="lastLogon" value="LastLogon" />
				<entry key="pwdLastSet" value="PasswordLastSet" />
			</map>
		</property>
	</bean>

</beans>
